a {
    text-decoration: none;
    color: inherit;
}

li {

    list-style: none;
}

.imageHeight {
    height: fit-content !important;
}

.addCartBtn {
    width: 100%;
    border: none;
    outline: none;
    background-color: #9c9797;
    color: white;
    font-weight: 700;
}

.addCartBtn:hover {
    background-color: #FF0000;
    transition: 0.2s ease-in-out;
}

.mySwiper {
    width: 100%;
    height: 60vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;

}

.swiper-slide .imageHeight {
    height: 250px !important;
}

.textalign {

    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 15vh;
}

.bannerStyle {
    height: 60vh;
}

.navBtn {
    display: none !important;
}


.dropdown {
    position: relative;
    padding: 22px 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80% !important;
    height: 30vh;
    left: -100%;
    right: -100%;
    top: 100%;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}



* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Links and buttons*/

a {
    color: #000;
}

a:hover {
    color: orange;
    transition: 0.2s ease-out;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
    margin-bottom: 1em;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

/*-------------Accordian-----------------*/

.accoridan {
    text-align: center;
    margin: 1em 0;
}

.accordion {
    border: none !important;
    font-weight: 600;

}

.accordion-item {
    border: none;
    color: #333;
}

.accordion-item .accoridan {
    margin: 0;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    /* Set a default max-height, but don't display it */
    overflow: hidden;
    /* Hide the content */
    transition: max-height 0.4s ease-out;
    border-bottom: 1px solid grey;
    /* Add a transition effect when sliding down (and up) the content */

}



/* Add this class to .accordion-content when the accordion item is active/open */
.accordion-content.active {
    max-height: auto;
    /* Adjust as needed */
}

/*adding the + and - signs*/
.accordion-item .accoridan {
    position: relative;
    padding-right: 30px;
    /* Adjust as needed */
}

.accordion-item .accoridan::before {
    content: "+";
    position: absolute;
    right: 10px;
    /* Adjust as needed */
}

.accordion-item.active .accoridan::before {
    content: "-";
}



.offerSlider {
    position: relative;
}

.sale {
    position: absolute;
    width: 70px;
}





/**************  Media Qurey *****************/

@media screen and (max-width: 568px) {
    .mySwiper {
        width: 100%;
        height: 30vh;
    }

    .navBtn {
        display: block !important;
    }

    .headerBigScreen,
    .hideOnmobile {
        display: none;
    }

    .bannerStyle {
        display: flex;
    }

    .bannerStyle>div {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        text-align: center;
        margin: auto;
    }

    .bannerStyle>div>div {
        width: 100% !important;
        margin-top: 5vh;
    }

    .bannerStyle>div>h1 {
        width: 100% !important;
        margin-top: 5vh;
    }


}